{% extends 'base.html' %}

{% block content %}

<div class=" col-md-6 offset-md-3">



<h1> UML CONVERTER </h1>

<form method="POST" action="{%url 'home'%}">
    {% csrf_token %}



      <div class="mb-3">
        <label for="selection" class="form-label">Choose the coverter:</label>
        <select name="selection" id="selection" required>
          <option value="knn">knn based usecase diagram generator</option>
          <option value="use_case_llm">Flan based usecase diagram generator</option>
        </select>
        <br/>
        <br/>

        <label for="textArea1label" class="form-label">Input Functional Requirements:</label>
        <textarea class="form-control" name="textArea1" id="textArea1" rows="5" placeholder="Enter Requirements" required></textarea>
        <br/>
        <button type="submit" name="action" value="make" class="btn btn-dark">Make UML</button>
      </div>

</form>




</div>

{% endblock%}